<div class='job-list-container'>
    {{job-list all-jobs=model.pending type='pending'}} 
    {{job-list all-jobs=model.running type='running'}} 
    {{job-list all-jobs=model.finished type='finished' }} 
</div>
